.navbar {
    background-color: rgb(33, 160, 233)

}
.navbar .nav-link {
color:rgb(17, 17, 16)
}

.btn {
    padding: 12px 30px;
    font-weight: 900;
    font-size: 18px;

}

.btn-MONTON{
    background-color: azure;
    border: 2px solid black;
    border-radius: 60px;
    transition: all ease-in 0.5s;
}

.btn-MONTON:hover {
    color:blueviolet;
    border: 2px solid white;
}

.zeb{
    width: 5%;
}
.banner {
background: url('mount.jpg');
height: 1000px;
background-size: cover;
}

h1 {
    font-size: 45px;
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    font-weight: 800;
}

.banner p {
    color:rgb(7, 7, 7);
    font-size: 20px;
}
 #about h2, #about h3 {
color:brown

 }

 #about img {
    border: 5px solid rgb(14, 1, 1);
    box-shadow: 0 0 80px 0 black;
    border-radius: 15px;
 }
 .card-img-top{

    width: 25%;
 }
.card{
    border: 5px solid rgb(14, 1, 1);
    box-shadow: 0 0 80px 0 black;
    border-radius: 15px;
    margin-top: 20px;
    padding: 25px 20px;
}
.card:hover{
    background-color: rgb(19, 20, 20);
    box-shadow: 0 0 25px 0 black;
}
.card:hover .card-title,
.card:hover .card-text{
    color: rgb(255, 255, 255);
}
#services h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 55;
    color: aqua;
    margin-bottom: 30px;

}

#services {
    background:cornflowerblue;

}

#reviews {
    background: black;
}
.testimonial {
    border: 2px solid rgb(189, 15, 15);
    padding: 20px;
    border-radius:20px;
    margin: 5px;

}

.testimonial img {
    width: 75px;
    border-radius: 50%;
    border: 2px solid blue;
}

.faq-section {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}
.accordion-button {
    background-color: brown;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0 !important;
    padding: 15px;
    front-size: 18px;
    front-weight:500px;
    color: black;
    cursor:pointer;
    transition: background-color 0.3s, color 0.3s;

}
.accordion-body {
    border-left: 3px solid black;
    padding: 10px 15px;
    background-color: forestgreen;

}
.accordion-button:not(.collapsed) {
    background-color: black;
    color: black;
}
.accordion-button:hover {
    background-color: orange;
    color: khaki;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A1737 ;
} 

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ;
    
}

@media screen and (max-width: 767px) {

     h1 {
          font-size: 45px !important;
     }
}

section {
 padding: 60px;

}

#about img {
    height: 300px;
    width: 300px;
    margin: 30px;

}

{}